.carrossel{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background: #222;
}

.carrossel .btn-prev button,
.carrossel .btn-post button{
  height: 100%;
}

.carrossel .btn-prev button{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.carrossel .btn-post button{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-prev img{
  rotate: 180deg;
}

.itensCarrossel{
  display: flex ;
  justify-content: start space-between;
}


.card-tech{
  border-radius: 12px;
  border: 1px solid #434343;
  background-color: #242424;
  padding: 8px;
  margin: 16px;
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.card-tech h2 {
  margin: 0;
}
.img-item-carrossel{
  height: 50px;
  /* aspect-ratio: 1 / 1; */
}