#perfil{
  margin: 0 auto;
  display: flex;
  width: 75%;
  gap: 24px;
}

#perfil-esquerdo,
#perfil-direito{
  width: 50%;
  padding: 24px;
  box-sizing: border-box;
}

#perfil-esquerdo{
  border-right: 2px solid #333;
}
#perfil-esquerdo img{
  width: 250px;
  border-radius: 50%;
}

#perfil-contatos p{
  margin: 0;
  text-align: left;
}