#footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: border-box;
  gap: 60px;
  padding: 12px;
  border-top: 1px solid #444;
  margin-top: 48px;
}

#footer div{
  display: flex;
  flex-direction: column;
}